# Build artifacts
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# IDE/editor stuff
.vscode/
.cache/
.cache/*
.clangd/
*.swp
*.swo

# Generated databases
compile_commands.json

# Logs & misc
*.log
*.tmp
*.DS_Store
