<?xml version="1.0"?>
<model>
  <name>avoider_robot</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Autonomous Obstacle Avoider</name>
    <email>n/a@example.com</email>
  </author>
  <description>Two-wheel robot with front ray sensor and avoidance plugin (balanced parameters).</description>
</model>
